<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.user.UserMapper">

	<resultMap type="com.example.demo.model.user.User" id="User"></resultMap>
	
    <select id="findByUsers" parameterType="string" resultType="User">
        select u.id,u.name,u.age,u.birthday from user u
    </select>
</mapper>
